/* ==========================================================================
   Typesettings.css - Created by Mike Mai

   http://mikemai.net
   http://mikemai.net/typesettings/index.html
   ========================================================================== */
   
html {
  font-size: 10px; }

.typesettings {
  *zoom: 1; }
  .typesettings:before, .typesettings:after {
    content: ' ';
    display: table; }
  .typesettings:after {
    clear: both; }
    
.typesettings {
  position: relative;
  padding: 2em 11% 3em 11%;
  color: #555555;
  line-height: 1.5;
  font-family: "Alegreya Sans",Arial,Helvetica,sans-serif; }
  @media only screen and (max-width: 480px) {
    .typesettings {
      font-size: 1.6em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings {
      font-size: 2.1em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings {
      font-size: 2.8em; } }
  .typesettings a {
    color: #2c6b95;
    text-decoration: none; }
    .typesettings a:visited {
      color: #2a374f; }
    .typesettings a:hover {
      color: #2a374f;
      border-bottom: 1px solid #2a374f; }
    .typesettings a:active {
      position: relative;
      top: 1px; }
  .typesettings h1,
  .typesettings h2,
  .typesettings h3,
  .typesettings h4,
  .typesettings h5,
  .typesettings h6,
  .typesettings figcaption,
  .typesettings blockquote {
    font-family: "Alegreya Sans",Arial,Helvetica,sans-serif; }
  .typesettings h1,
  .typesettings h2,
  .typesettings h3,
  .typesettings h4,
  .typesettings h5,
  .typesettings h6 {
    margin-top: .9em;
    margin-bottom: -.25em;
    color: #2a374f;
    line-height: 1.25; }
  @media only screen and (max-width: 480px) {
    .typesettings h1 {
      font-size: 1.7em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings h1 {
      letter-spacing: -1px;
      font-size: 2.1em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings h1 {
      letter-spacing: -2px;
      font-size: 2.2em; } }
  .typesettings h1:first-child {
    text-align: center; }
    .typesettings h1:first-child + h2 {
      letter-spacing: .25em;
      text-transform: uppercase;
      text-align: center;
      font-weight: normal;
      opacity: 0.4;
      filter: alpha(opacity=40); }
      @media only screen and (max-width: 480px) {
        .typesettings h1:first-child + h2 {
          font-size: .7em; } }
      @media only screen and (min-width: 481px) and (max-width: 1440px) {
        .typesettings h1:first-child + h2 {
          font-size: .8em; } }
      @media only screen and (min-width: 1441px) {
        .typesettings h1:first-child + h2 {
          font-size: .9em; } }
  @media only screen and (max-width: 480px) {
    .typesettings h2 {
      font-size: 1.4em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings h2 {
      font-size: 1.6em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings h2 {
      letter-spacing: -1px;
      font-size: 1.8em; } }
  @media only screen and (max-width: 480px) {
    .typesettings h3 {
      font-size: 1.2em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings h3 {
      font-size: 1.3em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings h3 {
      font-size: 1.5em; } }
  @media only screen and (max-width: 480px) {
    .typesettings h4 {
      font-size: 1em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings h4 {
      font-size: 1.1em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings h4 {
      font-size: 1.3em; } }
  @media only screen and (max-width: 480px) {
    .typesettings h5 {
      margin-top: 1.15em;
      font-size: .8em; } }
  @media only screen and (min-width: 481px) and (max-width: 1440px) {
    .typesettings h5 {
      margin-top: 1em;
      font-size: .9em; } }
  @media only screen and (min-width: 1441px) {
    .typesettings h5 {
      font-size: 1.1em; } }
  .typesettings h6 {
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (max-width: 480px) {
      .typesettings h6 {
        margin-top: 1.3em;
        font-size: .7em; } }
    @media only screen and (min-width: 481px) and (max-width: 1440px) {
      .typesettings h6 {
        margin-top: 1.15em;
        font-size: .8em; } }
    @media only screen and (min-width: 1441px) {
      .typesettings h6 {
        margin-top: 1em;
        font-size: .9em; } }
  .typesettings header:first-child + p {
    font-size: 1.15em; }
    .typesettings header:first-child + p:first-letter {
      float: left;
      margin-right: .15em;
      padding: 0 .2em;
      line-height: 1.1;
      text-transform: uppercase;
      font-size: 3.6em;
      border: 4px double #eeeeee; }
@-moz-document url-prefix() {
  .typesettings header:first-child + p:first-letter {
    padding: .2em; } }
  .typesettings p,
  .typesettings ol,
  .typesettings ul,
  .typesettings aside,
  .typesettings header,
  .typesettings footer,
  .typesettings hgroup,
  .typesettings figure,
  .typesettings blockquote,
  .typesettings pre,
  .typesettings hr {
    margin: .9em 0 0 0; }
  .typesettings ul,
  .typesettings ol {
    padding: 0 0 0 2em; }
  .typesettings figure {
    text-align: center; }
    .typesettings figure img {
      max-width: 100%;
      height: auto; }
    .typesettings figure figcaption {
      margin-top: .2em;
      color: #aeaeae;
      font-size: .6em; }
  .typesettings blockquote {
    padding: 0 1em;
    color: #aeaeae;
    text-align: left;
    font-style: italic;
    border-left: 4px solid #eeeeee;
    margin: 1em; }
    @media only screen and (max-width: 480px) {
      .typesettings blockquote > p {
        font-size: 1em; } }
    @media only screen and (min-width: 481px) and (max-width: 1440px) {
      .typesettings blockquote > p {
        font-size: 1em; } }
    @media only screen and (min-width: 1441px) {
      .typesettings blockquote > p {
        font-size: 1em; } }
  .typesettings hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e1e1;
    padding: 0; }
  .typesettings address {
    display: inline-block; }
  .typesettings section + section,
  .typesettings hr + section,
  .typesettings section + hr {
    margin: 2em 0 0 0; }
  .typesettings aside {
    margin-left: 1em;
    padding: .5em;
    border: 1px solid #eeeeee; }
    @media only screen and (max-width: 768px) {
      .typesettings aside {
        margin-right: 1em; } }
    @media only screen and (min-width: 769px) {
      .typesettings aside {
        position: relative;
        top: .3em;
        float: right;
        width: 10em; } }
    .typesettings aside > * {
      font-size: .7em; }
  .typesettings :first-child {
    margin-top: 0; }
  .typesettings.indented p:first-of-type {
    text-indent: 0; }
  .typesettings.indented p + p,
  .typesettings.indented figure + p,
  .typesettings.indented blockquote + p,
  .typesettings.indented aside + p,
  .typesettings.indented pre + p,
  .typesettings.indented ul + p,
  .typesettings.indented ol + p {
    text-indent: 2em; }
  .typesettings.indented p + p {
    margin-top: 0; }
  @media only screen and (min-width: 769px) {
    .typesettings.indented p + aside,
    .typesettings.indented aside + p {
      margin-top: 0; } }
  .typesettings.indented blockquote * {
    text-align: inherit; }
  @media only screen and (max-width: 768px) {
    .typesettings.golden {
      padding: 2em 11% 3em 11%; } }
  @media only screen and (min-width: 769px) {
    .typesettings.golden {
      padding: 0 15%; } }
  @media (min-width: 950px) {
    .typesettings.golden figure {
      margin-left: -10%;
      margin-right: -10%; } }
  @media only screen and (min-width: 1441px) {
    .typesettings.golden figure {
      margin-left: -20%;
      margin-right: -20%; } }
  @media only screen and (min-width: 1441px) {
    .typesettings.golden blockquote {
      margin-left: -25%;
      margin-right: -25%; } }